<h1 id="tableLabel">URLs Info</h1>

<p>This page contains info about URL</p>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
  <tr>
    <th>Id</th>
    <th>Original URL</th>
    <th>Shortened URL</th>
    <th>Created by</th>
    <th>Created at</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="url">
    <td>{{ url.id }}</td>
    <td>{{ url.url }}</td>
    <td>{{ url.shortUrl }}</td>
    <td>{{ url.createdBy }}</td>
    <td>{{ url.createdDate }}</td>
  </tr>
  </tbody>
</table>
